article{
  border: 1px #f886fc;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ffcee89a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(123, 93, 255);
}

article h2 {
  
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #ee8abc;
  
  padding: 5px 20px;
}
article p {
  font-size: 16px;
  line-height: 1.6;
  color: #fa839d;
}
